<input type="hidden" value="@ViewBag.login" id="mylogin" />

<div class="chat-b-wrap d-flex">
    <div class="chat-b-l">
        <div class="d-flex chat-l-func-wrap">
            @*<form asp-action="CreateGroup" method="post">
            <input name="login1" type="text" />
            <input name="login2" type="text" />
            <button>+</button>
        </form>
        <form asp-action="DeleteGroup" method="post">
            <button>-</button>
        </form>*@
            <div class="chat-l-func-btn" data="CreateGroup">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 31.444 31.444" style="enable-background:new 0 0 31.444 31.444;" xml:space="preserve">
                <path style="fill:#555;" d="M1.119,16.841c-0.619,0-1.111-0.508-1.111-1.127c0-0.619,0.492-1.111,1.111-1.111h13.475V1.127
C14.595,0.508,15.103,0,15.722,0c0.619,0,1.111,0.508,1.111,1.127v13.476h13.475c0.619,0,1.127,0.492,1.127,1.111
	c0,0.619-0.508,1.127-1.127,1.127H16.833v13.476c0,0.619-0.492,1.127-1.111,1.127c-0.619,0-1.127-0.508-1.127-1.127V16.841H1.119z" />
                </svg>
                <span>Добавить чат</span>
            </div>
            <div class="chat-l-func-btn" data="DeleteGroup">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 486.4 486.4" style="enable-background:new 0 0 486.4 486.4;" xml:space="preserve">
                            <path d="M446,70H344.8V53.5c0-29.5-24-53.5-53.5-53.5h-96.2c-29.5,0-53.5,24-53.5,53.5V70H40.4c-7.5,0-13.5,6-13.5,13.5
			            S32.9,97,40.4,97h24.4v317.2c0,39.8,32.4,72.2,72.2,72.2h212.4c39.8,0,72.2-32.4,72.2-72.2V97H446c7.5,0,13.5-6,13.5-13.5
			            S453.5,70,446,70z M168.6,53.5c0-14.6,11.9-26.5,26.5-26.5h96.2c14.6,0,26.5,11.9,26.5,26.5V70H168.6V53.5z M394.6,414.2
			            c0,24.9-20.3,45.2-45.2,45.2H137c-24.9,0-45.2-20.3-45.2-45.2V97h302.9v317.2H394.6z" />
                            <path d="M243.2,411c7.5,0,13.5-6,13.5-13.5V158.9c0-7.5-6-13.5-13.5-13.5s-13.5,6-13.5,13.5v238.5
			            C229.7,404.9,235.7,411,243.2,411z" />
                            <path d="M155.1,396.1c7.5,0,13.5-6,13.5-13.5V173.7c0-7.5-6-13.5-13.5-13.5s-13.5,6-13.5,13.5v208.9
			            C141.6,390.1,147.7,396.1,155.1,396.1z" />
                            <path d="M331.3,396.1c7.5,0,13.5-6,13.5-13.5V173.7c0-7.5-6-13.5-13.5-13.5s-13.5,6-13.5,13.5v208.9
			            C317.8,390.1,323.8,396.1,331.3,396.1z" />
                </svg>
                <span>Удалить чат</span>
            </div>
        </div>
        <div class="chat-groups">
            @*GROUPS*@
        </div>
    </div>
    <div class="d-flex chat-b-r">
        <div id="chat-messages">
            @*MESSAGES*@
        </div>
        <div class="d-flex chat-fc-wrap">
            <form id="chat-file-form" method="post" enctype="multipart/form-data">
                <label class="chat-file-label">
                    <input id="chat-file-input" disabled type="file" name="chat_formfile" />
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129">
                        <g>
                            <path d="m60.4,58.2c1.6-1.6 1.6-4.2 0-5.8s-4.2-1.6-5.8,0l-21.7,21.7c-3.7,3.7-5.7,8.5-5.7,13.7 0,5.2 2,10 5.7,13.7 7.6,7.6 19.9,7.6 27.4,0l49-49c5.1-5.1 7.9-11.9 7.9-19.1s-2.8-14-7.9-19.1c-10.6-10.6-27.7-10.6-38.3,0l-48.9,48.9c-6.6,6.6-10.2,15.3-10.2,24.6 0,9.3 3.6,18.1 10.2,24.6 6.6,6.6 15.3,10.2 24.6,10.2 9.3,0 18.1-3.6 24.6-10.2l21.7-21.7c1.6-1.6 1.6-4.2 0-5.8s-4.2-1.6-5.8,0l-21.7,21.7c-5,5-11.7,7.8-18.8,7.8s-13.8-2.8-18.8-7.8-7.8-11.7-7.8-18.8 2.8-13.8 7.8-18.8l48.9-48.9c3.6-3.6 8.3-5.5 13.3-5.5 5,0 9.8,2 13.3,5.5 3.6,3.6 5.5,8.3 5.5,13.3s-2,9.8-5.5,13.3l-49,49c-4.3,4.3-11.4,4.3-15.8,0-2.1-2.1-3.3-4.9-3.3-7.9 0-3 1.2-5.8 3.3-7.9l21.8-21.7z" />
                        </g>
                    </svg>

                </label>
            </form>
            <div id="chat-voice-btn" dis="1">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 58 58" style="enable-background:new 0 0 58 58;" xml:space="preserve">
<g>
                <path d="M44,28c-0.552,0-1,0.447-1,1v6c0,7.72-6.28,14-14,14s-14-6.28-14-14v-6c0-0.553-0.448-1-1-1s-1,0.447-1,1v6
		c0,8.485,6.644,15.429,15,15.949V56h-5c-0.552,0-1,0.447-1,1s0.448,1,1,1h12c0.552,0,1-0.447,1-1s-0.448-1-1-1h-5v-5.051
		c8.356-0.52,15-7.465,15-15.949v-6C45,28.447,44.552,28,44,28z" />

                <path d="M29,46c6.065,0,11-4.935,11-11V11c0-6.065-4.935-11-11-11S18,4.935,18,11v24C18,41.065,22.935,46,29,46z M20,11
		c0-4.963,4.038-9,9-9s9,4.037,9,9v24c0,4.963-4.038,9-9,9s-9-4.037-9-9V11z" />

</g>
</svg>
            </div>
            <textarea id="chat-message-textarea" placeholder="Введите сообщение..."></textarea>
            <button type="button" id="send-message-btn" class="submit-btn send-message-btn-unactive" disabled>SEND</button>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/signalr.min.js"></script>
@*<script src="~/js/autoresize.js"></script>*@
<script src="~/js/recorder.js"></script>
<script>
    let vh = window.innerHeight * 0.01;
    // Then we set the value in the --vh custom property to the root of the document
    document.documentElement.style.setProperty('--vh', `${vh}px`);

    var gumStream;
    var input;
    var rec;

    var AudioContext = window.AudioContext || window.webkitAudioContext;
    var audioContext;
    $("#chat-voice-btn").on("click", function () {
        if ($(this).attr("dis") == 0) {
            if (!$(this).hasClass("chat-voice-btn-active")) {
                //console.log(1);
                startRecording(this);
            } else {
                stopRecording(this);
            }
            $(this).toggleClass("chat-voice-btn-active");
        }
    })

    function startRecording() { 
        var constraints = { audio: true, video: false }

        navigator.mediaDevices.getUserMedia(constraints).then(function (stream) {
            audioContext = new AudioContext();

            gumStream = stream;
            input = audioContext.createMediaStreamSource(stream);
            rec = new Recorder(input, { numChannels: 1 });
            rec.record();
        }).catch(function (err) {
            console.log(err);
        });
    }

    function stopRecording() {
        rec.stop();
        gumStream.getAudioTracks()[0].stop();

        rec && rec.exportWAV(function (blob) {
            var fd = new FormData();
            fd.append("fname", ".wav");
            fd.append("data", blob);
            console.log(blob);

            $.ajax({
                type: "POST",
                url: "Home/LoadAudio",
                data: fd,
                processData: false,
                contentType: false,

                complete: function (response) {
                    if (response.statusText === "success" || response.statusText === "OK") {
                        hubConnection.invoke("SendMessage", globalGroupId, 2, response.responseText);
                    }
                }
            }).done(function (data) {
                console.log(data);
            });
        });
    }

    $(".chat-l-func-btn").on("click", function () {
        
        var data = $(this).attr("data");
        if (data === "DeleteGroup") {
            window.location.href = "/Home/DeleteGroup?id=" + globalGroupId;
        }
        else {
            window.location.href = "/Home/" + data;
        }
    });

    //autosize($("#chat-message-textarea"));
    function scrollToNewMessages(speed = 0) {
        setTimeout(function () {
            var height = $("#chat-messages")[0].scrollHeight;
            $("#chat-messages").scrollTop(height);
        }, 100);
    }

    const hubConnection = new signalR.HubConnectionBuilder().withUrl("/chat").build();

    //Authentication is failed
    hubConnection.on("AuthenticationFailed", function () {
        window.location.href = "/Account/Login";
    });

    //hubConnection.on("OnDisconnected", function () {
    //    alert("OnDISC")
    //    connectionStarted = false;
    //});

    //document.addEventListener("visibilitychange", function () {
    //    //console.log(connectionStarted);
    //    alert("CHANGED");
    //    if (document.visibilityState === "visible") {
    //        alert("IN");
    //        hubConnection.start().catch(err => {
    //            console.log(err.toString())
    //            alert("Err");
    //        });
    //    }
    //}, false);

    //hubConnection.Error += ex => Console.WriteLine("Error: {0}", ex.Message);

    //On Load groups
    var data = {};
    hubConnection.on("LoadGroups", function (json) {
        var groups = JSON.parse(json);
        $(".chat-groups").html("");
        for (var i = 0; i < groups.length; i++) {
            var groupName = "";
            if ((groupName = groups[i].GroupName) == "") groupName = "Нет имени";

            var lastMessages = groups[i].LastMessages;

            var lastOneMessage = "Нет сообщений";
            if (lastMessages.length !== 0)
            {
                switch (lastMessages[lastMessages.length - 1].Type) {
                    case 0: lastOneMessage = lastMessages[lastMessages.length - 1].Data; break;
                    case 1: lastOneMessage = "Изображение"; break;
                    case 2: lastOneMessage = "Голосовое сообщение"; break;
                }
            }

            var groupAvatar = groups[i].Avatar;
            
            $(".chat-groups").append("<div class='chat-group' group-type=" + groups[i].GroupType + " group-id=" + groups[i].GroupId + "><div class='chat-group-img'><img src=/db_files/" + groupAvatar + "></div><div class='chat-group-info'><div>" + groupName + "</div><div class='blue chat-group-last-message'>" + lastOneMessage + "</div></div></div>");
        }

        data = groups;
    });

    //On SelectGroup - Get messages
    hubConnection.on("SelectGroup", function (json) {
        var messages = JSON.parse(json);

        AppendMessages(messages);
    });


    //GLOBAL VARIABLE
    var myName = $("#mylogin").val();
    var userName = "";


    //APPEND MESSAGE
    function AppendMessage(message) {
        var date = new Date(Date.parse(message.Date));

        var messageData = "";
        if (message.Type === 0) {
            messageData = message.Data.replace(/\n/g, "<br>").replace(/ /g, "&#32;");
        }
        else if (message.Type === 1) {
            messageData = "<img class='m-chat-message-img' src=/db_files/" + message.Data + "></img>";
        }
        else if (message.Type === 2) {
            messageData = "<audio controls src='/db_files/" + message.Data + "'>Your browser does not support the<code>audio</code> element.</audio>";
        }

        var minutes = date.getMinutes();
        if (minutes < 10) {
            minutes = "0" + minutes;
        }

        if (userName === message.UserName) {
            //AM I USER?
            if (message.UserName === myName) {
                $("#chat-messages").append("<div class='m-chat-message-r'><div><span>" + messageData + "</span><span class='m-chat-message-time'>" + date.getHours() + ":" + minutes + "</span></div></div>");
            } else {
                $("#chat-messages").append("<div class='m-chat-message-l'><div><span>" + messageData + "</span><span class='m-chat-message-time'>" + date.getHours() + ":" + minutes + "</span></div></div>");
            }
        }
        //SHOW THE NAME
        else {
            userName = message.UserName;
            //AM I USER?
            if (message.UserName === myName) {
                $("#chat-messages").append("<div class='m-chat-message-r'><b class='m-chat-message-name'>" + userName + "</b><div><span>" + messageData + "</span><span class='m-chat-message-time'>" + date.getHours() + ":" + minutes + "</span></div></div>");
            } else {
                $("#chat-messages").append("<div class='m-chat-message-l'><b class='m-chat-message-name'>" + userName + "</b><div><span>" + messageData + "</span><span class='m-chat-message-time'>" + date.getHours() + ":" + minutes + "</span></div></div>");
            }
        }
    }

    //APPEND MESSAGES TO THE GROUP
    function AppendMessages(messages) {
        $("#chat-messages").html("");

        userName = "";
        for (var i = 0; i < messages.length; i++) {
            AppendMessage(messages[i]);
        }
    }

    //ON SEND MESSAGE
    hubConnection.on("SendMessage", function (groupId, messageJson) {
        var message = JSON.parse(messageJson);

        //ADD MESSAGE TO data
        var groupKey = getGroupKeyById(groupId);
        if (groupKey != -1) {
            data[groupKey].LastMessages.push(message);
        }

        //USER GET MESSAGE IF THE GROUP IS SELECTED
        if (globalGroupId == groupId) {
            AppendMessage(message);
            scrollToNewMessages();
        }

        //GET LAST MESSAGE IN GROUPS LIST
        if ($(".chat-group[group-id=" + groupId + "]").length != 0) {
            var messageData = message.Data;
            if (message.Type === 1) {
                messageData = "Изображение";
            } else if (message.Type === 2) {
                messageData = "Голосовое сообщение"
            }

            $(".chat-group[group-id=" + groupId + "]").children(".chat-group-info").children(".chat-group-last-message").html(messageData);
        }
    });

    //RECONNECT
    hubConnection.start();

    hubConnection.onclose(() => {
        hubConnection.start().then(function () {
            if (globalGroupId !== 0) {
                var groupKey = getGroupKeyById(globalGroupId);
                if (groupKey !== -1) {
                    AppendMessages(data[groupKey].LastMessages);
                }
                scrollToNewMessages();
            }
        });
    });

    //GLOBAL GROUP ID
    var globalGroupId = 0;

    function getGroupKeyById(groupId) {
        var groupKey = -1;
        for (var i = 0; i < data.length; i++) {
            if (data[i].GroupId == groupId) {
                groupKey = i;
                break;
            }
        }
        return groupKey;
    }

    //SEND BTN
    $("#chat-message-textarea").on("keyup", function () {
        if ($(this).val() != "" && globalGroupId != 0) {
            $("#send-message-btn").removeClass("send-message-btn-unactive");
        }
        else {
            $("#send-message-btn").addClass("send-message-btn-unactive");
        }
    });

    $("#chat-hide-btn").on("click", function () {
        $(".chat-b-wrap").removeClass("chat-wrap-mob");

        $(this).addClass("button-unactive");
        $("#logout-link").removeClass("logout-unactive");
    });
    //SELECT GROUP
    $(".chat-groups").on("click", ".chat-group", function () {
        $("#send-message-btn").prop("disabled", false);
        $("#chat-file-input").prop("disabled", false);
        $("#chat-voice-btn").attr("dis", 0);

        $("#chat-hide-btn").removeClass("button-unactive");
        $("#logout-link").addClass("logout-unactive");

        $(".chat-b-wrap").addClass("chat-wrap-mob");

        var groupId = $(this).attr("group-id");
        globalGroupId = groupId;

        $(".chat-group").removeClass("chat-group-active");
        $(this).addClass("chat-group-active");

        var groupKey = getGroupKeyById(groupId);
        if (groupKey !== -1) {
            AppendMessages(data[groupKey].LastMessages);
        }
        scrollToNewMessages();

        //hubConnection.invoke("SelectGroup", +groupId);
    });

    //SEND MESSAGE
    $("#send-message-btn").on("click", function () {
        var message = $("#chat-message-textarea").val();

        if (message !== "") {
            $("#chat-message-textarea").val("");
            hubConnection.invoke("SendMessage", globalGroupId, 0, message);
        }
    });

    $("#chat-file-input").on("change", function () {
        var file = this.files[0];
        if (file.size > 4096 * 1024) {
            alert("Изображение весит больше 4 мегабайт.")
        }
        else {
            $.ajax({
                url: 'Home/LoadFile',
                type: 'POST',

                data: new FormData($("#chat-file-form")[0]),

                cache: false,
                contentType: false,
                processData: false,

                // Custom XMLHttpRequest
                xhr: function () {
                    var myXhr = $.ajaxSettings.xhr();
                    if (myXhr.upload) {
                        //myXhr.upload.addEventListener('progress', function (e) {
                        //    if (e.lengthComputable) {
                        //        $('progress').attr({
                        //            value: e.loaded,
                        //            max: e.total,
                        //        });
                        //    }
                        //}, false);
                    }
                    return myXhr;
                },

                success: function (data, status, xhr) {
                    if (status === "success") {
                        hubConnection.invoke("SendMessage", globalGroupId, 1, data);
                    }
                },

                error: function (xhr, status, errorThrown) {
                    alert(status);
                }
            });
        }
    });

    var globalMessagesLength = 0;
    //LOAD MORE MESSAGES
    $("#chat-messages").on("scroll", function (e) {
        var groupKey = getGroupKeyById(globalGroupId);
        if (groupKey !== -1 && globalMessagesLength != data[groupKey].LastMessages.length) {
            if ($("#chat-messages")[0].scrollTop < parseInt($("#chat-messages").css("padding-top"))) {
                globalMessagesLength = data[groupKey].LastMessages.length;
                hubConnection.invoke("LoadMoreMessages", globalGroupId, globalMessagesLength);
            }
        }
    });

    hubConnection.on("LoadMoreMessages", function (messages) {
        var messages = JSON.parse(messages);
        var groupKey = getGroupKeyById(globalGroupId);

        var beforeHeight = $("#chat-messages")[0].scrollHeight;

        if (groupKey !== -1) {
            for (var i = messages.length - 1; i >= 0; i--) {
                data[groupKey].LastMessages.unshift(messages[i]);
            }
            AppendMessages(data[groupKey].LastMessages);

            var fullHeight = $("#chat-messages")[0].scrollHeight;
            $("#chat-messages").animate({ scrollTop: fullHeight - beforeHeight }, 0);
        }
    });
</script>